@keyframes border {
  0% {
    // transform: scaleX(0%);
    width: 0%;
  }
  50% {
    // transform: scaleX(100%);
    width: 100%;
  }
  100% {
    // transform: scaleX(0%);
    width: 0%;
  }
}
#section--bujo {
  & .bujo-box {
    gap: 2rem;

    & .bujo-box__expand {
      gap: 0.5rem;
      padding-bottom: 0.2rem;
      // background-color: red;
      // border-bottom: 1px solid var(--color--primary);
    }
    & .bujo-box__expand__border {
      height: 1px;
      width: 100%;
      background-color: var(--color--primary);

      animation-name: border;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
    & .bujo-box__hidebox {
      gap: 2rem;

      margin-top: 2rem;
      overflow: hidden;
      transition: max-height 1s ease-in-out, opacity 0.3s ease-in-out;
      opacity: 1;
      max-height: 100vh;

      &.hidden {
        opacity: 0;
        max-height: 0px;
      }

      & .bujo-box__accounts {
        margin-top: 2rem;
        gap: 3rem;
        & div.account {
          gap: 1.7rem;

          & .account__grid {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto 1fr auto;
            align-items: center;
            justify-items: flex-start;
            column-gap: 1.2rem;
            row-gap: 0.5rem;

            & span {
              & img {
                height: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}
