$main-test-top-margin: 6%;

@keyframes opacityin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacityin2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0px);
  }
}

#section--home {
  position: relative;

  width: 100%;
  min-height: 80vh;

  justify-content: flex-start;
  align-items: center;

  animation-name: opacityin;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  // background-image: url("../../assets/mainImg2.webp");
  // background-size: cover;
  // background-position: bottom center;
  // background-repeat: no-repeat;
  & .home__bg {
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: var(--max-width);
    height: 80vh;
    // background-color: red;
    // background-image: url("../../assets/mainImg2.webp");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  & .home__texts__gradient {
    font-size: var(--font-size--s);

    position: absolute;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    & * {
      color: var(--color-font--light);
    }

    &.top {
      top: 0;
      height: 50vh;

      background: rgb(168, 172, 195);
      background: linear-gradient(
        0deg,
        rgba(168, 172, 195, 0) 0%,
        rgba(69, 80, 140, 0.8) 100%
      );
    }

    &.bottom {
      bottom: 0;
      height: 10vh;
    }

    & .home__texts__scroll-down {
      animation-name: arrow;
      animation-duration: 2s;
      animation-iteration-count: infinite;

      // background-color: red;
    }
  }

  & .home__texts {
    color: white;

    position: absolute;
    top: $main-test-top-margin;

    width: 100%;

    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;

    animation-name: opacityin2;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    & img {
      // width: 45%;
      height: 25vh;
      display: flex;
      justify-content: center;
      // min-height: 500px;
    }

    & span.names {
      font-size: 2.2rem;
      letter-spacing: 0.75rem;
    }
    & span:nth-of-type(3n) {
      font-size: 1.2rem;
    }
    & span:nth-of-type(4n) {
      font-size: 1.8rem;
    }
  }
}
