#section--home {
  min-height: 90%;

  background-image: url("../../assets/mainImg.jpg");
  background-size: cover;
  background-position: center center;

  & .home__main-image {
    width: 70%;
    height: 500px;
  }

  & .home__texts {
    position: absolute;
    top: 15%;
    color: white;
  }
}
