@keyframes border {
  0% {
    // transform: scaleX(0%);
    width: 0%;
  }
  50% {
    // transform: scaleX(100%);
    width: 100%;
  }
  100% {
    // transform: scaleX(0%);
    width: 0%;
  }
}
footer {
  & .bujo-box {
    gap: 2rem;

    & .bujo-box__expand {
      gap: 0.5rem;
      padding-bottom: 0.2rem;
      // background-color: red;
      // border-bottom: 1px solid var(--color--primary);
    }
    & .bujo-box__expand__border {
      height: 1px;
      width: 100%;
      background-color: var(--color--primary);

      animation-name: border;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
    & .bujo-box__hidebox {
      margin-top: 2rem;
      overflow: hidden;
      transition: max-height 1s ease-in-out, opacity 0.3s ease-in-out;
    }
  }
}
